.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.inactive-display {
  display: none;
}

.active-display {
  display: block;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.sensor-chart {
  height: 25vh;
  /* width: 100%; */
}

.anomaly-chart {
  height: 19vh;
  width: 100%;
}

.vertical-axis-text {
  position: absolute;
display: inline-block;
transform: rotate(270deg) translateX(-142%);
transform-origin: left top;
width: 200px;
}

.vehicleCtrl {
  text-align: center;
  margin-top: 10vh;
}
